nav {
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0000ff;
}

ul {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}
