<nav id="navbar">
    <ul>
        <li id="navbar-home">
            <button [routerLink]="'/'">
                <span>MasterTicket</span>
            </button>
        </li>
        <li id="navbar-add-artist">
            <button>
                <span>Crear artista</span>
            </button>
        </li>
        <li id="navbar-add-concert">
            <button>
                <span>Crear concierto</span>
            </button>
        </li>
        <li id="navbar-search">
            <button [routerLink]="'/search'">
                <span>Búsqueda</span>
            </button>
        </li>
        <li id="navbar-signup">
            <button>
                <span>Registrarse</span>
            </button>
        </li>
        <li id="navbar-login">
            <button>
                <span>Iniciar sesión</span>
            </button>
        </li>
        <li id="navbar-profile">
            <button>
                <span>Perfil</span>
            </button>
        </li>
        <li id="navbar-logout">
            <button>
                <span>Cerrar sesión</span>
            </button>
        </li>
        <li id="navbar-help">
            <button>
                <span>Ayuda</span>
            </button>
        </li>

    </ul>
</nav>
