body{
    margin: 0px; 
    padding: 0px;
    box-sizing:border-box;
    background-color:#fff;
    display: block;
}
/*AQUI EMPIEZA EL HOME*/
/*aqui empieza el nav*/
nav{
    height:100px;
    display: center;
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    flex: auto;
    padding: 10px;
    list-style: none;
    display: flex;
    text-decoration: none;
    text-size-adjust: auto;   
}

nav ul li button{
    display: flex;
    font-size: 20px;
    color: #fff;
    list-style:none;
    text-decoration:none;
    text-size-adjust: auto;
    background-color: blue;
    padding: flex;
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;   
    font-family: sans-serif;
}

nav ul li a{
    text-decoration:none;
    color: #fff;
}

nav ul li a:hover{
    text-decoration:none;
    color: #fff;
}
nav ul li button:hover{
    text-decoration:none;
    color: #fff;
}
button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}
.pull-rigth{
    margin-left: auto;
}
/*aqui acaba el nav*/


/*aqui empieza el artista principal*/
.content-mainArtist{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 500px;
    color: white;
    background-image: url(./images/taylor_swift.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}   

.infoMainArtist{
    margin-left: 10px;
    padding: 40px;
}

.buttonEntradas{
    display: flex;
    font-size: 25px;
    color: #fff;
    list-style:none;
    text-decoration:none;
    text-size-adjust: auto;
    background-color: blue;
    padding: flex;
    margin: 10px;
    position: relative;
    padding: 10px 25px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;   
    font-family: sans-serif;
}
.buttonEntradas:hover{
    text-decoration:none;
    color: #fff;
}

.buttonEntradas a{
    text-decoration:none;
    color: #fff;
}

.buttonEntradas a:hover{
    text-decoration:none;
    color: #fff;
}
/*aqui acaba el artista principal*/


/*aqui empieza el contenido principal*/
.elements{
    margin-bottom: 20px;
    background-color: blue;
    display: flex;
}
/*aqui termina el contenido principal*/


/*aqui empieza el contenido de lista artistas*/
.content-listArtist{
    width: 70%;
}

.listArtist{ 
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 0px; 
    border-top: 1px solid rgb(191, 191, 191);
}

.Artist{
    display: flex; 
    justify-content: space-around;
    flex-basis: 50%;
    border-bottom: 1px solid rgb(191, 191, 191); 
}

.infoArtist img{
    margin-top: 20px;
    width: 495px;
    height: 300px;
}
/*aqui termina el contenido de lista artistas*/


/*aqui empieza la info de cada elemento de la lista*/
.link1{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.link1:hover{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.text1Artist{
    justify-content: end;
    color: #000;
}

.text1Artist:hover{
    justify-content: end;
    color:blue  ;
}

.name1Artist{
    color: #000;
}

.name1Artist:hover {
    color: blue;
    text-decoration: none;
}

.karol_G{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.link1{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.link1:hover{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.text1Artist{
    justify-content: end;
    color: #000;
}

.text1Artist:hover{
    justify-content: end;
    color:blue  ;
}

.name1Artist{
    color: #000;
}

.name1Artist:hover {
    color: blue;
    text-decoration: none;
}
/*aqui termina la info de la elemento de la lista*/


/*aqui empieza el contenido de boton mas*/
.content-buttonMas{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 20px;
    padding: 0px;
    border-bottom: 1px solid rgb(191, 191, 191);
}
.buttonMas{
    display: flex;
    font-size: 25px;
    color: #fff;
    list-style:none;
    text-decoration:none;
    text-size-adjust: auto;
    background-color: blue;
    padding: flex;
    margin: 10px;
    position: relative;
    padding: 10px 25px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;   
    font-family: sans-serif;
}
.buttonMas:hover{
    text-decoration:none;
    color: #fff;
}

.buttonMas a{
    text-decoration:none;
    color: #fff;
}

.buttonMas a:hover{
    text-decoration:none;
    color: #fff;
}
/*aqui termina el contenido de boton mas*/


/*aqui empieza el contenido del footer*/
.content-footer{
    background-color: rgb(7, 7, 7);
    padding-top: 15px; 
    padding-bottom: 5px;
}

.listFooter{ 
    display: flex;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
}

.contentImgFooter{
    width: 50%;
    height: 300px;
}

.imgfooter{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentImgLogo{
    width: 25%;
    height: auto;
    margin-left: 60px;
}

.logo{
    width: auto;
    height: 300px;

}

.nombreEmpresa{
    color: #FFF;
}
/*aqui termina el contenido del footer*/
/*AQUI ACABA EL HOME*/