body{
    margin: 0; 
    padding: 0;
    box-sizing:border-box;
    background-color:#fff;
    display: block;
}

/*aqui empieza el nav*/
nav{
    height:100px;
    display: center;
    align-items: center;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    flex: auto;
    padding: 10px;
    list-style: none;
    display: flex;
    text-decoration: none;
    text-size-adjust: auto;   
}

nav ul li button{
    display: flex;
    font-size: 25px;
    color: #fff;
    list-style:none;
    text-decoration:none;
    text-size-adjust: auto;
    background-color: blue;
    padding: flex;
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;   
    font-family: sans-serif;
}

nav ul li a{
    text-decoration:none;
    color: #fff;
}

nav ul li a:hover{
    text-decoration:none;
    color: #fff;
}
nav ul li button:hover{
    text-decoration:none;
    color: #fff;
}
header button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}
.pull-rigth{
    margin-left: auto;
}
/*aqui acaba el nav*/

.spotlights{
    display: flex;
    margin: 0px;
}

.mainArtist{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 500px;
    color: white;
    background-image: url(./images/taylor_swift.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   

.infoArtist{
    margin-left: 30px;
    padding: 40px;
    
}
.buttonEntradas{
    display: flex;
    font-size: 25px;
    color: #fff;
    list-style:none;
    text-decoration:none;
    text-size-adjust: auto;
    background-color: blue;
    padding: flex;
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;   
    font-family: sans-serif;
}
.buttonEntradas:hover{
    text-decoration:none;
    color: #fff;
}

.buttonEntradas a{
    text-decoration:none;
    color: #fff;
}

.buttonEntradas a:hover{
    text-decoration:none;
    color: #fff;
}

.listArtist{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    margin: 20px;
    padding: 2px;
    width: 100%;
    height: 100%;
    list-style: none;
}

.oneArtist{
    width: 35%;
    height: 400px;
    list-style: none;
    background-image: url(./images/karol_G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.link1{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.link1:hover{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.link1:focus{
    display: block;
    height: 100%;
    padding: 0px 12px;
    text-decoration: none;
}

.text1Artist{
    justify-content: end;
    color: #fff  ;
}

.text1Artist:hover{
    justify-content: end;
    color: #000  ;
}

.name1Artist{
    color: #fff;
}

.name1Artist:hover {
    color: #000;
    text-decoration: none;
}


/* search.html */

#search-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#search-main {
    flex-grow: 1;
    display: flex;
    background-color: #222;
}

#search-results {
    flex-grow: 5;
    margin: 30px;
    padding: 20px;
    margin-right: 15px;
    border: solid #000;
    border-radius: 10px;
    background-color: #EEE;
}

.event-article {
    display: flex;
    margin-bottom: 8px;
    padding: 18px 0px;
    border-radius: 10px;
    background-color: #DDD;
}

.event-article time {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.event-article time .month {
    order: 1;
}

.event-article time .day {
    order: 2;
}

.event-article time {
    min-width: 80px;
    display: flex;
    flex-direction: column;
}

.event-article .event-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.event-article button {
    margin-right: 20px;
    padding: 0px 12px;
    height: 3em;
    min-width: 120px;
    text-align: start;
    background-color: #266bf0;
    color: #FFF;
    border-radius: 6px;
}

.event-article button img {
    float: right;
}


.event-info h1 {
    all: unset;
    font-size: 15px;
    font-weight: bold;
    order: 2;
}

.event-info h1 a {
    color: inherit;
}

.event-info p {
    margin: 0;
}

.event-info .date-info {
    order: 1;
}

.event-info .venue-info {
    order: 3;
}

#filters-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    margin: 30px;
    margin-left: 15px;
    padding: 30px;
    border: solid #000;
    border-radius: 10px;
    background-color: #EEE;
}

#filters-sidebar h1 {
    margin-bottom: 30px;
}

#filters-sidebar button {
    border: 0;
    border-bottom: 2px solid #000;
    /* margin-bottom: 16px; */
    padding: 16px 32px;
    background-color: inherit;
    text-align: start;
    font-size: 18px;
}

#filters-sidebar button:hover {
    text-decoration: underline;
    /* background-color: #CCC; */
}

#filters-sidebar button[aria-expanded="true"] {
    /* background-color: #CCC; */
    background-color: rgb(145, 145, 255);
}

#filters-sidebar ul {
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 28px;
    list-style-type: none;
    font-size: 16px;
}

#filters-sidebar button img {
    float: right;
    /* margin-right: 40px; */
}

#filters-sidebar input {
    margin-right: 4px;
}

#filters-sidebar label {
    font-weight: normal;
}