@if (mainArtist) {
    <div class="main-artist">
        <img src="/api/artists/{{mainArtist.id}}/image">
        <div class="main-artist-info">
            <h1><a [routerLink]="'/artist/ + mainArtist.id'">{{mainArtist.name}}</a></h1>
            <h2>{{mainArtist.info}}</h2>
            <button [routerLink]="'/artist/' + mainArtist.id">
                <span>Entradas</span>
                <img src="assets/images/point-right.png" width="19px">
            </button>
        </div>
    </div>
}

<div id="content-container">
    <div id="left-bar">
        <ul id="secondary-artist-list">
        @for (artist of artists; track $index) {
            <li class="secondary-artist">
                <a [routerLink]="'/artist/ + artist.id'">
                    <div>
                        <img src="/api/artists/{{artist.id}}/image">
                        <h2>{{artist.info}}</h2>
                        <h1>{{artist.name}}</h1>
                    </div>
                </a>
            </li>
        }
        </ul>
        @if (!last) {
            <button (click)="searchArtists()" id="more-artists-button">Más artistas</button>
        }
        <div id="chart-container">
            <bar-chart></bar-chart>
        </div>
    </div>

    <div id="right-bar">
        <h1>Recomendados</h1>
        <ul>
            @for (artist of recommendedArtists; track $index) {
                <li>
                    <a>
                        <div class="recommended-artist">
                            <a [routerLink]="'/artist/ + artist.id'">
                                <div>
                                    <img src="/api/artists/{{artist.id}}/image">
                                    <h2>{{artist.info}}</h2>
                                    <h1>{{artist.name}}</h1>
                                </div>
                            </a>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
