{{>header}}
    <div id="fondoartista">
        <div id="contenedor">
        <div id="central">
        <div id="login">
            <div class="titulo">
                Creación del Artista
            </div>
            <form id="formularioLogin" action="index.html">

                <div class="profile-picture">
                    <img src="images/Perfil.jpg" alt="Foto de perfil">
                </div>

                <input type="file" name="Foto" placeholder="Foto" accept=".jpg, .jpeg, .png">
                <input type="text" name="Name" placeholder="Nombre" required>
                
                <input type="text" name="Info" placeholder="Información" required>

                <button type="submit" title="Login" name="Login">Registro</button>
            </form>
        </div>
        
        </div>
        </div>
    </div>

{{>footer}}