{{>header}}


    <div id="fondoconcierto">
        <div id="contenedor">
            <!-- <div id="central"> -->
            <div id="concierto-contenedor">
                <div class="titulo">
                    Creación del Concierto
                </div>
                <form id="formularioLogin" action="index.html" method="post">
                    <div id="formConcierto">
                        <div>
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" />
                        </div>
                        
                        <div>
                            <label for="lugar">Lugar:</label>
                            <input type="text" id="lugar" name="Lugar" />
                        </div>
                        <div>
                        <label for="seleccionArtista">Artista:</label>
                            <select id="seleccionArtista" name="Artista">
                                {{#artist}}
                                    <option value="{{id_artist}}">{{name}}</option>
                                {{/artist}}
                            </select>
                        </div>
                        <div id="horario">
                            <div>
                                <label for="fecha">Fecha:</label>
                                <input type="date" id="fecha" name="Fecha" />
                            </div>
                            <div>
                                <label for="hora">Hora:</label>
                                <input type="time" id="hora" name="Hora" />
                            </div>
                        </div>
                        <div>
                            <label id="numeroEntrada"for="numero">Número de Entradas:</label>
                            <input type="number" id="numero" name="numeroEntrada" min="0"/>
                        </div>
                        <div>
                            <label id="precioEntrada"for="precioEntrada">Precio:</label>
                            <input type="number" id="precio" name="precioEntrada" min="0" />
                        </div>
                        <div>
                            <label for="seleccionGenero">Género:</label>
                            <select id="seleccionGenero" name="genero">
                                {{#genre}}
                                    <option value="{{genre_type}}">{{genre_type}}</option>
                                {{/genre}}
                            </select>
                        </div>
                        
                            <label for="info">Información:</label>
                            <textarea id="infoConcierto" name="Info"></textarea>
                        
                        <button type="submit" title="Crear" name="Crear">Crear
                            <img src="images/point-right.png" width="19px">
                        </button>
                    </div>
                    
                </form>
            </div>
        <!-- </div> -->
        </div>
        </div>

    </div>

{{>footer}}