<footer>
    <div class="content-footer">
        <ul class="listFooter">
            <li class="contentImgFooter">
                <img src="images/footer.jpg" alt class="imgfooter">
            </li>
            <li class="infoFooter">
                <br>
                <br>
                <h4 class="nombreEmpresa">MasterTicket</h4>
                <br>
                <h4 class="nombreEmpresa">Todos los derechos reservados</h4>
                <br>
                <h4 class="nombreEmpresa">Condiciones de uso</h4>
                <br>
                <h4 class="nombreEmpresa">Siguenos en nuestras redes</h4>
            </li>
            <li class="contentImgLogo">
                <img src="images/logo.jpg" alt class="logo">
            </li>
        </ul>
    </div>
</footer>
</div><!-- fin del id=home-->
</body>

</html>