<footer>
    <div class="content-footer">
        <ul class="footer-list">
            <li class="footer-img-container">
                <img src="/images/footer.jpg" alt class="imgfooter">
            </li>
            <li id="footer-info">
                <ul>
                    <li>MasterTicket</li>
                    <li>Todos los derechos reservados</li>
                    <li>Condiciones de uso</li>
                    <li>Siguenos en nuestras redes</li>
                </ul>
            </li>
            <li class="footer-logo-container">
                <img src="/images/logo.jpg" alt class="logo">
            </li>
        </ul>
    </div>
</footer>
</div><!-- fin del id=home-->
</body>

</html>