<!DOCTYPE html>
<html lang="en">

<head>
    <title>MasterTicket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="perfil.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="home">
    <header id="header">
        <nav>
            <ul>
                <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="/">MasterTicket</a>
                    </button></li>
                <li class="pull-rigth">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="search.html">Búsqueda</a>
                    </button>
                </li>
                {{#no_user}}
                    <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="login.html">Registrarse/Iniciar sesión</a>
                    </button></li>
                {{/no_user}}
                {{#user}}
                    <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="perfil.html">Perfil</a>
                    </button></li>
                {{/user}}
                {{#admin}}
                    <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="perfil.html">Perfil</a>
                    </button></li>
                    <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="creacionArtista.html">Crear Artista</a>
                    </button></li>
                    <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="creacionConcierto.html">Crear Concierto</a>
                    </button></li>
                {{/admin}}
                <li><button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a>Ayuda</a>
                    </button></li>
            </ul>
        </nav>
    </header>