{{>header}}
        {{#mainArtist}}
        <div class="content-mainArtist">
            <img src="/artist/{{name}}/image">
            <div class="infoMainArtist">
                <h2 class="nameArtist">{{name}}</h2>
                <h3 class="description">{{info}}</h3>
                <button class="buttonEntradas">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a href="ticketUrl">Entradas</a>
                </button>
            </div>
        </div>
        {{/mainArtist}}
        <br>
        <div class="elements">
            <main id="main-content">
                <div class="content-listArtist">
                    <ul class="listArtist">
                        {{#secondaryArtists}}
                            <li class="Artist">
                                <a href="url" class="link1">
                                    <div class="infoArtist">
                                        <img src="/artist/{{name}}/image">
                                    </div>
                                    <h4 class="text1Artist">{{info}}</h4>
                                    <h3 class="name1Artist">{{name}}</h3>
                                </a>
                            </li>
                        {{/secondaryArtists}}
                    </ul>
                    <div class="content-buttonMas">
                        <button id="moreArtistButton" class="buttonMas">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <a href="/">Mas Artistas</a>
                        </button>
                    </div>
                </div>
            </main>
            <!-- aqui vendria mas secciones-->
            <section>
                <div class="section-content">
                    <ul class="ListSuggestion">
                        <div class="content-Recomendados">
                            <h2>Recomendados</h2>
                        </div>
                        {{#recommendedArtists}}
                            <li class="ArtistSuggestion">
                                <a href="url" class="link1">
                                    <div class="infoArtistSuggestion">
                                        <img src="/artist/{{name}}/image">
                                    </div>
                                    <h3 class="name1Artist">{{name}}</h3>
                                </a>
                            </li>
                        {{/recommendedArtists}}
                    </ul>
                </div>
            </section>
        </div><!-- fin de los elementos-->
{{>footer}}