{{>header}}
    {{#artist}}
    <div id="artist-main">
        <aside id="artist-sidebar">
            <h1><span class="artist-name">{{name}}</span></h1>

            <img src="/artist/{{name}}/image" id = "artist-img"></img>
            <h1>Info</h1>
            <p>{{info}}</p>
        </aside>
        <main id="search-results">
            <h2>Entradas</h2>
            {{#concerts}}
            <article class="event-article">
                <time>
                    <span class="day">{{getDay}}</span>
                    <span class="month">{{getMonth}}</span>
                </time>
                <div class="event-info">
                    <h1><a>{{#artist}}{{name}}{{/artist}}</a></h1>
                    <p class="date-info">
                        <span class="weekday">{{getWeekday}}</span>
                        <span> - </span>
                        <span class="hour">{{getHour}}</span>
                    </p>
                    <p class="venue-info">
                        <span class="city">{{place}}</span>
                        <span> - </span>
                        <span class="venue">aaa</span>
                    </p>
                </div>
                <button>
                    <span>Entradas</span>
                    <img src="/image/point-right.png" width="19px">
                </button>
            </article>
            {{/concerts}}
        </main>
    </div>
    {{/artist}}

{{>footer}}