{{>header}}
    <div id="fondo">
        <div id="contenedor">
        <div id="central">
        <div id="login">
            <div class="titulo">
                Bienvenido
            </div>
            <form id="formularioLogin" action="/user" method="post">
                <input type="text" name="User" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" name="password" required>
                
                <button type="submit" title="Login" name="Login">Login</button>
            </form>
            <div class="pie-form">
                <a href="registro.html">Registrarse</a>
            </div>
        </div>
        
    </div>
    </div>
    </div>

{{>footer}}