{{>header}}
    <div class="background">
        <div class="container">
            <div class="center">
                <div class="login">
                    <div class="login-title">
                        Bienvenido
                    </div>
                    <form action="/user" method="post">
                        <input type="email" name="email" placeholder="Email" required>
                        
                        <input type="password" placeholder="Contraseña" name="password" required>
                        
                        <button type="submit" title="Login" name="Login">Login</button>
                    </form>
                    <div class="pie-form">
                        {{#error}}
                        <div style="color: red;">{{error}}</div>
                        {{/error}}
                        <a href="signup">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{>footer}}