{{>header}}
    <div id="fondo">
        <div id="contenedor">
        <div id="central">
        <div id="login">
            <div class="titulo">
                Bienvenido
            </div>
            <form id="formularioLogin" action="/login" method="post">
                <input type="email" name="username" placeholder="Email" required>                
                <input type="password" placeholder="Contraseña" name="password" required>
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit" title="Login" name="Login">Login</button>
                
            </form>
            <div class="pie-form">
                {{#error}}
                <div style="color: red;">{{error}}</div>
                {{/error}}
                <a href="signup">Registrarse</a>
            </div>
        </div>
        
    </div>
    </div>
    </div>

{{>footer}}