{{>header}}
        <div id="profile-content" class="container main">
            {{#user}}
                <div class="profile-header">
                    <img src="/user/image/{{id}}" alt="User Profile" class="profile-image" id="profileImage">
                    <input type="file" id="imageInput" class="edit-input" style="display:none;" onchange="previewImage(this)">
                    <button onclick="document.getElementById('imageInput').click()" class="edit-button avatar-btn">Cambiar imagen</button>
                    <!-- For Name -->
                    <div class="field-section">
                        <h2 class="title">Nombre:</h2>
                        <div class="edit-container">
                            <p class="user-name" id="userName">{{name}}</p>
                            <input type="text" id="nameInput" class="edit-input" style="display:none;">
                            <button class="edit-button" id="editNameBtn" onclick="editField('userName', 'nameInput', 'saveNameBtn', 'editNameBtn')">Editar</button>
                            <button id="saveNameBtn" class="save-button" onclick="saveField('userName', 'nameInput', 'saveNameBtn', 'editNameBtn')" style="display:none;">Guardar</button>
                        </div>
                    </div>
        
                    <!-- For Email -->
                    <div class="field-section">
                        <h2 class="title">Email:</h2>
                        <div class="edit-container">
                            <p class="user-email" id="userEmail">{{email}}</p>
                            <input type="email" id="emailInput" class="edit-input" style="display:none;">
                            <button class="edit-button" id="editEmailBtn" onclick="editField('userEmail', 'emailInput', 'saveEmailBtn', 'editEmailBtn')">Editar</button>
                            <button id="saveEmailBtn" class="save-button" onclick="saveField('userEmail', 'emailInput', 'saveEmailBtn', 'editEmailBtn')" style="display:none;">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="tickets-history">
                    <h3>Tickets Comprados:</h3>
                    {{#tickets}}
                        <article class="event-article">
                        {{#concert}}
                            <time>
                                <span class="day">{{getDay}}</span>
                                <span class="month">{{getMonth}}</span>
                            </time>
                            <div class="event-info">
                                <h1><a>{{#artist}}{{name}}{{/artist}}</a></h1>
                                <p class="date-info">
                                    <span class="weekday">{{getWeekday}}</span>
                                    <span> - </span>
                                    <span class="hour">{{getHour}}</span>
                                </p>
                                <p class="venue-info">
                                    <span class="city">{{place}}</span>
                                </p>
                            </div>
                            {{/concert}}
                            <button class="download-button" onclick="downloadTicket('{{concert.getId}}', '{{getNum_ticket}}', '{{concert.artist.name}}', '{{user.name}}', '{{concert.getDatetime}}', '{{concert.getHour}}', '{{concert.place}}')">
                                <span>Descargar</span>
                                <img src="/image/point-right.png" width="19px">
                            </button>
                        </article>
                    {{/tickets}}
                    {{^tickets}}
                        <p>Historial vacío</p>
                    {{/tickets}}
                </div>
                {{#tickets}}
                <button id="moreTicketsButton" class="buttonMas">
                    <a>Mas Tickets</a>
                </button>
                {{/tickets}}
            {{/user}}
        </div>
    
{{>footer}}
