{{>header}}

    <div id="fondo">
        <div id="contenedor">
        <div id="central">
        <div id="login">
            <div class="titulo">
                Registro
            </div>
            <form id="formularioLogin" action="/user/new" method="post" enctype="multipart/form-data">

                <div class="profile-picture">
                    <img src="images/Perfil.jpg" alt="Foto de perfil">
                </div>

                <input type="file" name="image" placeholder="Foto" accept=".jpg, .jpeg, .png">
                <input type="text" name="name" placeholder="Nombre" required>                
                <input type="email" name="email" placeholder="Correo" required>
                <input type="password" placeholder="Contraseña" name="password" required>
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit" title="Login" name="login">Registro</button>
            </form>
            <div class="pie-form">
                {{#error}}
                <div style="color: red;">{{error}}</div>
                {{/error}}
                <a href="login">Iniciar Sesión</a>
            </div>
        </div>
        
        </div>
        </div>
    </div>
{{>footer}}