
{{>header}}
    <div id="search-main">
        <main id="search-results">
            <div id="search-results2">
            {{#concerts}}
            <article class="event-article">
                <time>
                    <span class="day">{{getDay}}</span>
                    <span class="month">{{getMonth}}</span>
                </time>
                <div class="event-info">
                    <h1><a>{{#artist}}{{name}}{{/artist}}</a></h1>
                    <p class="date-info">
                        <span class="weekday">{{getWeekday}}</span>
                        <span> - </span>
                        <span class="hour">{{getHour}}</span>
                    </p>
                    <p class="venue-info">
                        <span class="city">{{place}}</span>
                    </p>
                </div>
                <button onclick ="location.href='/payment/{{id}}' ">
                    <span>Entradas</span>
                    <img src="/image/point-right.png" width="19px">
                </button>
                {{#admin}}
                    <button class="delete-btn" data-id="{{id}}">
                       <span>Eliminar</span>
                        <img src="/image/point-right.png" width="19px">
                    </button> 
                {{/admin}}
            </article>
            {{/concerts}}
            </div>
            <button id="moreConcertButton" class="buttonMas">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <a>Mas Conciertos</a>
            </button>
        </main>
        
        <aside id="filters-sidebar">
            <h1>Filtros</h1>

            <button id="city-list-button" data-bs-toggle="collapse" data-bs-target="#city-list" aria-expanded="false" aria-controls="city-list">
                <span>Lugar</span>
                <img src="image/point-right.png" width="20px">
            </button>
            <ul class="collapse" id="city-list">
                <li><label><input type="checkbox"><span>Madrid</span></label></li>
                <li><label><input type="checkbox"><span>Barcelona</span></label></li>
                <li><label><input type="checkbox"><span>Sevilla</span></label></li>
            </ul>

            <button id="artist-list-button" data-bs-toggle="collapse" data-bs-target="#artist-list" aria-expanded="false" aria-controls="artist-list">
                <span>Artista</span>
                <img src="image/point-right.png" width="20px">
            </button>
            <ul class="collapse" id="artist-list">
                <li><label><input type="checkbox"><span>Metallica</span></label></li>
                <li><label><input type="checkbox"><span>Taylor Swift</span></label></li>
                <li><label><input type="checkbox"><span>Billie Eilish</span></label></li>
            </ul>

            <button id="artist-list-button">
                <span>Fecha</span>
                <img src="image/point-right.png" width="20px">
            </button>
        </aside>
    </div>

{{>footer}}
