    <div id="profile-container" class="container">
    <div>
        <div id="profile-content" class="">
                <div class="profile-header">
                    <div id="profile-picture-container">
                        <img [src]="imageSrc||'assets/images/default-profile-picture.jpg'" alt="User Profile" class="profile-image" id="profileImage">
                        <input type="file" id="imageInput" class="edit-input" style="display:none;" (change)="functionChangeImage($event)">
                        <button onclick="document.getElementById('imageInput').click()" class="edit-button avatar-btn">Cambiar imagen</button>
                    </div>
                    <!-- For Name -->
                    <div class="field-section">
                        <h2 class="title">Nombre:</h2>
                        <div class="edit-container">
                            <div *ngIf="!editattname">
                                <p class="user-name" id="userName">{{name}}</p>
                                <button class="edit-button" id="editNameBtn" (click)="editName()">Editar</button>
                            </div>
                            <div *ngIf="editattname">
                                <input [(ngModel)]="name" type="text" id="nameInput" class="edit-input" >
                                <button id="saveNameBtn" class="save-button" (click)="updateName()">Guardar</button>
                            </div>
                        </div>
                    </div>
        
                    <!-- For Email -->
                    <div class="field-section">
                        <h2 class="title">Email:</h2>
                        <div class="edit-container">
                            <div *ngIf="!editattemail">
                                <p class="user-Email">{{email}}</p>
                                <button class="edit-button" id="editEmailBtn" (click)="editEmail()">Editar</button>
                            </div>
                            <div *ngIf="editattemail">
                                <input [(ngModel)]="email" type="text" id="emailInput" class="edit-input" >
                                <button id="saveEmailBtn" class="save-button" (click)="updateEmail()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tickets-history">
                    <h3>Tickets Comprados:</h3>
                        <div *ngFor="let ticket of tickets">
                            <article class="event-article">
    
                                <time>
                                    <span class="day">ticket.concert.day</span>
                                    <span class="month">ticket.concert.month</span>
                                </time>
                                <div class="event-info">
                                    <h1><a>{{ticket.concert.artist.name}}</a></h1>
                                    <p class="date-info">
                                    <span class="weekday">{{ticket.concert.id}}</span>
                                    <span> - </span>
                                    <span class="hour">{{ticket.concert.id}}</span>
                                    </p>
                                    <p class="venue-info">
                                    <span class="city">{{ticket.concert.place}}</span>
                                    </p>
                                    <p class="venue-info">
                                        <span class="name"><em>Nombre:</em> {{name}}</span>
                                    </p>
                                    <p class="venue-info">
                                        <span class="numticket"><em>Entradas:</em> {{ticket.concert.num_tickets}}</span>
                                    </p>
                                   
                                </div>
                                <button class="download-button" data-id="{{ticket.concert.id}}">
                                <span>Descargar</span>
                                <img src="/images/point-right.png" width="19px">
                                </button>   
                            </article>
                        </div>
                </div>
        </div>
    </div>
    </div>
    <script src="/js/profile.js"></script>