.content-footer{
    background-color: rgb(7, 7, 7);
    padding-top: 15px;
    padding-bottom: 5px;
}

.footer-list{
    display: flex;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
}

.footer-img-container{
    width: 50%;
    height: 300px;
}

.imgfooter{
    width: 3    0%;
    height: 100%;
    object-fit: contain;
}

.footer-logo-container{
    width: 25%;
    height: auto;
    margin-left: 60px;
}

.logo{
    width: auto;
    height: 300px;
}

#footer-info {
    list-style: none;
    padding: 30px 0;
    color: #FFF;
}

#footer-info li {
    list-style: none;
    font-size: large;
    margin: 30px 0;
}
