<h1>busqueda</h1>
<button (click)="search()">test</button>
<!-- <main id="search-results" *ngFor="let concert of concerts"> -->
<main id="search-results">
    @for (concert of concerts; track $index) {
        <article class="event-article">
            <time>
                <span class="day">{{concert.datetime.getDate()}}</span>
                <span class="month">{{concert.datetime.toLocaleString("es-ES", { month: "short"})}}</span>
            </time>
            <div class="event-info">
                <h1><a href="/artist/{{concert.artist.uri}}" class="artist-info-anchor">{{concert.artist.name}}</a></h1>
                <p class="date-info">
                    <span class="weekday">{{concert.datetime.getDay()}}</span>
                    <span> - </span>
                    <span class="hour">{{concert.datetime.getHours()}}</span>
                </p>
                <p class="venue-info">
                    <span class="city">{{concert.place}}</span>
                    <span> - </span>
                    <span class="price">{{concert.price}}</span>
                </p>
            </div>
            <!-- <button onclick="location.href ='/payment/" + concert.getId().toString() + "'"> -->
            <button class="tickets-concert-list-button">
                <span>Entradas</span>
                <img src="/images/point-right.png" width="19px">
            </button>
            <!-- if admin -->
            <button class="delete-btn" data-id={{concert.id}}>
                <span>Eliminar</span>
                <img src="images/point-right.png" width="19px">
            </button>
            <!-- end if admin -->
        </article>
    }
</main>

<aside id="filters-sidebar">
    <h1>Filtros</h1>
</aside>

