{{>header}}
        {{#mainArtist}}
        <div class="main-artist-content">
            <img src="/artist/{{name}}/image">
            <div class="main-artist-info">
                <h2 class="artist-name">{{name}}</h2>
                <h3 class="artist-description">{{info}}</h3>
                <button class="tickets-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a href="/search">Entradas</a>
                </button>
            </div>
        </div>
        {{/mainArtist}}
        <br>
        <div class="elements">
            <main id="main-content">
                <div class="artist-list-container">
                    <ul id="secondary-artist-list" class="artist-list">
                        <!-- Loaded with AJAX -->
                    </ul>
                    <canvas id="chart"></canvas>
                </div>
            </main>
            <section>
                <div class="section-content">
                    <ul class="suggestions-list">
                        <div class="suggestions-content">
                            <h2>Recomendados</h2>
                        </div>
                        {{#recommendedArtists}}
                            <li class="suggested-artist">
                                <a href="/artist/{{name}}" class="link1">
                                    <div class="suggested-artist-info">
                                        <img src="/artist/{{name}}/image">
                                    </div>
                                    <h3 class="artist-name-text">{{name}}</h3>
                                </a>
                            </li>
                        {{/recommendedArtists}}
                    </ul>
                </div>
            </section>
        </div>

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chart.js"></script>
{{>footer}}