
{{>header}}
    <div id="search-main">
        <main id="search-results">
            <!-- Loaded with AJAX -->
        </main>
        
        <aside id="filters-sidebar">
            <h1>Filtros</h1>

            <button id="location-list-button" data-bs-toggle="collapse" data-bs-target="#location-list" aria-expanded="false" aria-controls="location-list">
                <span>Lugar</span>
                <img src="images/point-right.png" width="20px">
            </button>
            <ul class="collapse" id="location-list">
            </ul>

            <button id="artist-list-button" data-bs-toggle="collapse" data-bs-target="#artist-list" aria-expanded="false" aria-controls="artist-list">
                <span>Artista</span>
                <img src="images/point-right.png" width="20px">
            </button>
            <ul class="collapse" id="artist-list">
            </ul>

            <button id="dates-button" data-bs-toggle="collapse" data-bs-target="#dates-list" aria-expanded="false" aria-controls="dates-list">
                <span>Fecha</span>
                <img src="images/point-right.png" width="20px">
            </button>
            <ul class="collapse" id="dates-list">
                <li class="date-form filter"><label><span>Desde:</span><input id="after-date" type="date"></label>
                    <button class="reset-date-form filter"><img src="images/restart-icon.png" width="20px"></button>
                </li>
                <li class="date-form filter"><label><span>Hasta:</span><input id="before-date" type="date"></label>
                    <button class="reset-date-form filter"><img src="images/restart-icon.png" width="20px"></button>
                </li>
                {{#admin}}
                <li>
                    <label><input class="filter" type="checkbox" id="show-past-concerts-input">Ver conciertos pasados</label>
                </li>
                {{/admin}}
            </ul>
        </aside>
    </div>

    <script src="/js/filter.js"></script>,

{{>footer}}
